<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref=""></ion-back-button>
    </ion-buttons>
    <ion-title>Search Port</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="portDiscovery(portType)">
        <ion-icon slot="icon-only" name="refresh"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-radio-group name="printer" [(ngModel)]="selectedPrinter.printer" (ionChange)="selected()">
      <ion-list-header>
        <ion-label> List </ion-label>
      </ion-list-header>

      <ion-item *ngFor="let printer of printerList">
        <ion-label>
          <h2>{{printer.modelName}}</h2>
          <p>{{printer.portName}} ({{printer.macAddress}})</p>
        </ion-label>
        <ion-radio [value]="printer" ></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>

  <ion-item-group radio-group [(ngModel)]="selectedPrinter.printer">
  </ion-item-group>
</ion-content>
